.container{
    height: 400px;
    width: 400px;
    background-color: steelblue;
    margin: 40px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transform: translate(50%, 50%);


    
}

.box:hover{
    transform: rotate(20deg)  translate(50% , 50%);
    transition : 2s ease-out ;
    background-color: violet;

    

}

.box h1:hover{
    color: cyan;

}