*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    border: 2px solid red;
    display: grid;
    row-gap: 20px;
    /* grid-template-columns: 200px 200px 200px;     */
    column-gap: 5px;
    /* grid-template-rows: 200px 80px; */
    /* align-content: center; */
    /* align-items: center; */
    grid-template-areas: "hdr hdr hdr hdr";
                         "sbr main main main"
                         "sbr main main main"
                         "ftr ftr ftr ftr"
}

.box{
    border: 2px green solid;
    padding: 12px;
    
}



#box1{
    grid-area: hdr;
    /* align-self: start;
    justify-self: center; */
    background-color: antiquewhite;
    /* grid-column: 1/3; */
    /* grid-row: 1/span 3; */
    /* grid-area: 1/1/3/3; */





}
#box2{
    grid-area: sbr;
}