.container{
    height: 400px;
    width: 400px;
    background-color: teal;
    margin: 100px ;
    transition: 1s ease-in;
    transition-delay: 0.2s;
    
    



}

.container:hover{

    background-color: purple;
    border-radius: 50%;
    rotate: 360deg;

    


}

.big{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}
.text{
    transition: 1s ;
    font-size: 100px;
    /* transform: translateX(100px);     */
}

.text:hover{
    transform: translateX(100px);   
    
}